/* purgecss start ignore */
/* purgecss end ignore */
* {
  overflow-wrap: break-word;
}

.textShadow {
  text-shadow: 0 0 10px #000000;
}

#gototop:hover * {
  color: white !important;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover {
  color: white;
}

@media (max-width: 575px) {
  .listFormMenu .nav.horizontalTab {
    overflow: auto;
    flex-wrap: nowrap;
    padding: 0 5px;
  }
  .listFormMenu .nav.horizontalTab .nav-link {
    margin-right: 5px;
  }
  .listFormMenu .nav.horizontalTab .nav-link .col-auto.text-end:empty {
    display: none;
  }
}
body, main {
  position: relative;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background-color: white;
}
body::before {
  background: url(../img/header_bg.png) no-repeat center top;
  background-size: 100% auto;
}
@media (min-width: 992px) {
  body::before {
    background-size: 100% 270px;
  }
}
body header .logoBG h1 img {
  max-width: 300px;
}
body header .mainmenu .nav > li > a.nav-link, body header .mainmenu .nav > li > a.nav-link:hover, body header .mainmenu .nav > li > a.nav-link:hover * {
  color: white !important;
}
body header .mainmenu .nav {
  position: relative;
}
body header .mainmenu .nav > li > a:hover, body header .mainmenu .nav > li.active > a {
  border-color: white !important;
}
@media (min-width: 992px) {
  body main {
    padding: 20px 0;
  }
}
body main .card h2 ~ #content {
  padding: 0 !important;
}
@media (min-width: 992px) {
  body main .card h2 ~ #content {
    min-height: 400px;
  }
}

.list.list-group.list-group-flush > li.list-group-item:first-child {
  padding-top: 0;
}
.list.list-group.list-group-flush > li.list-group-item:last-child {
  padding-bottom: 0;
}

.btn_primary, .btn_primary:hover, .btn_primary *:not(i.color_primary):not(i.text-primary), .btn_primary:hover *:not(i.color_primary):not(i.text-primary), .btn_primary, .btn_primary:hover, .btn_primary *:not(i.color_primary):not(i.text-primary), .btn_primary:hover *:not(i.color_primary):not(i.text-primary), .btn-primary, .btn-primary:hover, .btn-primary *:not(i.color_primary):not(i.text-primary), .btn-primary:hover *:not(i.color_primary):not(i.text-primary), .btn-primary, .btn-primary:hover, .btn-primary *:not(i.color_primary):not(i.text-primary), .btn-primary:hover *:not(i.color_primary):not(i.text-primary) {
  color: white !important;
}

.btn_secondary, .btn_secondary:hover, .btn_secondary *:not(i.color_secondary):not(i.text-secondary), .btn_secondary:hover *:not(i.color_secondary):not(i.text-secondary), .btn_secondary, .btn_secondary:hover, .btn_secondary *:not(i.color_secondary):not(i.text-secondary), .btn_secondary:hover *:not(i.color_secondary):not(i.text-secondary), .btn-secondary, .btn-secondary:hover, .btn-secondary *:not(i.color_secondary):not(i.text-secondary), .btn-secondary:hover *:not(i.color_secondary):not(i.text-secondary), .btn-secondary, .btn-secondary:hover, .btn-secondary *:not(i.color_secondary):not(i.text-secondary), .btn-secondary:hover *:not(i.color_secondary):not(i.text-secondary) {
  color: white !important;
}

.btn_info, .btn_info:hover, .btn_info *:not(i.color_info):not(i.text-info), .btn_info:hover *:not(i.color_info):not(i.text-info), .btn_info, .btn_info:hover, .btn_info *:not(i.color_info):not(i.text-info), .btn_info:hover *:not(i.color_info):not(i.text-info), .btn-info, .btn-info:hover, .btn-info *:not(i.color_info):not(i.text-info), .btn-info:hover *:not(i.color_info):not(i.text-info), .btn-info, .btn-info:hover, .btn-info *:not(i.color_info):not(i.text-info), .btn-info:hover *:not(i.color_info):not(i.text-info) {
  color: white !important;
}

input[type=file]:focus ~ label {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.indent.list_titlelink li.list-group-item.active > a {
  color: white !important;
}

/*---------- swiper ---------------------------------------------------------------------------------- */
:root {
  --customRatio: 9/16;
  --jsSpace: 10;
  --jsSpaceSM: 20;
}

.swiperSlides.oneSlideDotNav .aspect.ratio_custom {
  padding-top: 26.3157894737%;
}
.swiperSlides.gridSlide .swiper-slide .aspect.ratio_custom {
  padding-top: 24.7826086957%;
}

/*---------- End swiper ---------------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .slidesIcons .icons .d-grid {
    gap: 1.6rem !important;
  }
}
@media (min-width: 1400px) {
  .slidesIcons .icons .d-grid {
    gap: 2.27rem !important;
  }
  .slidesIcons .icons .icon > i.fa-2xl {
    font-size: 3.6rem;
    line-height: 1;
  }
}
@media (min-width: 1600px) {
  .slidesIcons .icons .d-grid {
    gap: 3.53rem !important;
  }
  .slidesIcons .icons .icon > i.fa-2xl {
    font-size: 4.5rem;
  }
}

.programs_publications_ranking .card .overflow-auto {
  min-height: 100px;
  max-height: 330px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .programs_publications_ranking .card .overflow-auto {
    max-height: 390px;
  }
}

/*---------- Only landscape in mobile ------------------------------*/
/*---------- IE10+ ------------------------------*/
/* ----------- iPhone ----------- */
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
}
@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
}